* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;

}

main {
    background-image: url("assets/main-bg.jpg");
    position: relative;
}

.main-img {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%) rotate(2deg);
    border-radius: 5px;
}

.bg {
    transform: translate(-50%) rotate(-4deg);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 6vw;
}

.left-header {
    display: flex;
    column-gap: 1.5vw;
    align-items: center;
}

.left-header img {
    height: 7vh;
    width: 7vh;
}

.title {
    display: flex;
    flex-direction: column;
}

.title b {
    font-size: 20px;
}

.sub-title {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.ring-container {}

.circle {
    width: 10px;
    height: 10px;
    background-color: #62bd19;
    border-radius: 50%;
    margin-top: 3px;
}

/*
.ringring {
    border: 3px solid #62bd19;
    -webkit-border-radius: 30px;
    height: 15px;
    width: 15px;
    position: absolute;
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
*/
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.1, 1.1);
        opacity: 0.0;
    }
}

.sub-title p {
    padding-left: 1vw;
    margin: 0;
    font-weight: 200;
}

.right-header {
    display: flex;
    column-gap: 4vw;
    padding-right: 2vw;
    font-size: 17px;
    font-weight: 400;
}

section {
    padding: 16vh 6vw 10vh 6vw;
}

a {
    cursor: pointer;
}

a:hover {
    color: gray;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.5vh;
    padding: 10vh 0 53vh 0;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 54px;
    text-align: center;
    width: 45%;
}

.top-section p {
    font-size: 24px;
    font-weight: 400;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2vw;
}

button {
    width: 224px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-white {
    color: black;
    background-color: white;
}

.middle-section {
    background-color: #001233;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 60vh 6vw 10vh 6vw;
    row-gap: 10vh;
    justify-content: left;
}

.middle-section b {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;

}

ul {
    list-style: none;
    display: flex;
    width: 98%;
    justify-content: space-between;
}

li {
    display: inline;
    font-weight: 800;
    font-size: 24px;
}

.whyme {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 30vh;
    margin-top: 8vh;
}

span {
    font-size: 19px;
    color: #4361ee;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-family: 'Nunito-sans', sans-serif;
    font-weight: 700;
    font-size: 58px;
    color: white;
    margin-bottom: 3vh;
}

.whyme-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    row-gap: 1.5vh;

}

.footer-end {
    height: 100vh;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
    transition: 1s;
}

.active {
    color: #33415c !important;
    background-color: white;

}


.tabs {
    display: flex;
    border-radius: 25px;
    background-color: #33415c;
    width: max-content;
    height: max-content;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1vh 0.5vw;
    transition: 1s !important;
}

.tab-options {
    border: 2px solid transparent;
}

.tab-options {
    color: white;
    padding: 1vh 1.5vw;
    border-radius: 25px;
    font-size: 17px;
    letter-spacing: 0.04rem;
    font-weight: 400;
    text-decoration: none;
}

.tab-options:hover {
    border-color: white;
}


.whyme-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.middle-section p,
.card p {
    font-size: 20px;
    font-weight: 300;
    color: #b6b5bf;
}

.why-dotnet {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4vh;
}

.tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4vw;
    row-gap: 6vh;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.tile img {
    width: 100px;
    object-fit: contain;
}

.tile p,
.work-section p {
    color: #6a6c6c;
    font-weight: 600;
}

.tile p {
    width: 90%;
}

.work-section {
    background-image: url(assets/main-bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14vh;
}


.work-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 4vh;
    text-align: left;
    padding: 6vh 4vw;
}

.work-card img {
    height: 550px;
    width: 100%;
}

.work-card h1 {
    text-align: left;
    width: 100%;
}

.btn-card {
    background-color: #001233;
    color: white;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title h1 {
    width: 75%;
}

.contact-card {
    position: relative;
    width: 100%;
    height: 40vh;
}

.card-bg {
    position: absolute;
    background-color: #4361ee;
    height: 34vh;
    width: 100%;
    transform: rotate(1deg);
    border-radius: 5px;
}

.card {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: #001233;
    transform: rotate(-1deg);
    padding: 0 4vw;
    height: 34vh;
    border-radius: 5px;
    justify-content: space-between;
}

.process-section {
    background-color: #001233;
}

.p-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.p-content {
    width: 40%;
}

.p-cards {
    display: flex;
    flex-direction: column;
    width: 40%;
    overflow: hidden;
    min-height: 100vh;
    transition: 1s ease-in-out;
   
}

.p-card {
    display: flex;
    flex-direction: column;
    background-color: #33415c;
    background-color: #152438;
    padding: 4vh 4vw;
    row-gap: 1vh;
    transition: 1s ease-in-out;
    border: 2px solid rgb(53, 51, 51);
    border-radius: 5px;
}

.p-card h3 {
    color: white;
}

.p-card p {
    color: #b6b5bf;
}

.p-card span {
    font-size: 26px;
}

.review-section {
    background-image: url(assets/main-bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8vh;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8vw;
    row-gap: 6vh;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 38vh;
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.star-img {
    width: 100px;
}

.client-img {
    width: 60px;
}

.review-section h1 {
    width: 80%;
}