* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 6vw;
}

.left-header {
    display: flex;
    column-gap: 1.5vw;
    align-items: center;
}

.left-header img {
    height: 7vh;
    width: 7vh;
}

.title {
    display: flex;
    flex-direction: column;
}

.title b {
    font-size: 20px;
}

.sub-title {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.ring-container {}

.circle {
    width: 10px;
    height: 10px;
    background-color: #62bd19;
    border-radius: 50%;
    margin-top: 3px;
}

/*
.ringring {
    border: 3px solid #62bd19;
    -webkit-border-radius: 30px;
    height: 15px;
    width: 15px;
    position: absolute;
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
*/
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.1, 1.1);
        opacity: 0.0;
    }
}

.sub-title p {
    padding-left: 1vw;
    margin: 0;
    font-weight: 200;
}

.right-header {
    display: flex;
    column-gap: 4vw;
    padding-right: 2vw;
    font-size: 17px;
    font-weight: 400;
}

a {
    cursor: pointer;
}

a:hover {
    color: gray;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 16vw;
    background-image: url("assets/main-bg.jpg");
    row-gap: 3.5vh;
    padding: 3vh 6vw;

}

h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 800;
    font-size: 74px;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2vw;
}

button {
    width: 224px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-white {
    color: black;
    background-color: white;
}

.middle-section {
    background-color: #001233;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 10vh 6vw;
    row-gap: 6vh;
}

.middle-section b {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    display: inline;
    font-weight: 600;
    font-size: 26px;
}

.whyme {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 30vh;
    margin-top: 8vh;
}

span {
    font-size: 19px;
    color: #4361ee;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-family: 'Nunito-sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
    margin-bottom: 3vh;
}

.whyme-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    row-gap: 1.5vh;
    position: relative;
}

.tabs {
    display: flex;
    border-radius: 25px;
    background-color: #33415c;
    width: max-content;
    height: max-content;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.tabs a {
    padding: 1vh 1.5vw;
    border-radius: 25px;
    font-size: 17px;
}

.tabs a:hover {
    background-color: white;
    color: #33415c;

}

a:link {
    color: white;
    text-decoration: none;
}



.whyme-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.middle-section p {
    font-size: 20px;
    font-weight: 300;
    color: rgba(175, 188, 226, 0.902)
}